<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="feature-section.css">
  </head>
  <body>
      <section class="feature-section">
          <div class="cards card-1">
            <img src="Image/Features/f1.png" alt="feature.png">
            <h4>Free Shipping</h4>
          </div>
          <div class="cards card-2">
            <img src="Image/Features/f2.png" alt="feature.png">
            <h4>Online Order</h4>
          </div>
          <div class="cards card-3">
            <img src="Image/Features/f3.png" alt="feature.png">
            <h4>Save Money</h4>
          </div>
          <div class="cards card-4">
            <img src="Image/Features/f4.png" alt="feature.png">
            <h4>promotions</h4>
          </div>
          <div class="cards card-5">
            <img src="Image/Features/f5.png" alt="feature.png">
            <h4>Happy Sell</h4>
          </div>
          <div class="cards card-6">
            <img src="Image/Features/f6.png" alt="feature.png">
            <h4>24/7 Support</h4>
          </div>
      </section>
  </body>
</html>
