/* ===========
1. global properties
2. typography
3. hero section content
============= */

/* 1. global properties */
.hero-section-content h4 {
  font-size:  1.5rem;
}
.hero-section-content h5 {
  font-size:  2rem;
}

.hero-section {
  position: relative;
  display: flex;
  padding: 0 30px;
  margin: 0;
  /* height: 580px; */
  height: 100dvh;
  background-size: cover;
  background-position: top 25% right 0;
  background-color: #fff;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: -1;
}

/* hero section content */

.hero-section-content {
  max-width: 400px;
  min-width: 300px;
}
.hero-section h4 {
  margin-bottom: 0;
}

.hero-section h5 {
  margin: 0;
}
.hero-section p {
  margin: 0;
  margin-top: 10px;
  color: rgb(209 90 85);
  font-weight: bold;
  font-size: 0.75rem;
}
.shop-now-btn {
  background-image: url("Image/Btn/button.png");
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  font-weight: 700;
  padding: 14px 80px 14px 65px;
  font-size: 15px;
  cursor: pointer;
  /* background-position: center;
  width: 100%;
  margin: 0 auto; */
}

.hero-section-img img{
  width:  516px;
  height:  536px;
}

@media (max-width: 920px) {
  /* styles for screens 799px wide */
  .hero-section{
    height: 120dvh;
  } 
}
@media (max-width: 530px) {
  /* styles for screens 799px wide */
  .hero-section{
    height: 65dvh;
    align-content: flex-end;
    align-items:stretch;
    padding: 0;
  }
  .hero-section-img, .hero-section-img img{
    width:  412px;
    height: 436px;
  }
  .hero-section-content h4 {
    font-size:  .75rem;
  }
  .hero-section-content h5 {
    font-size:  .5rem;

  }
}