<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="hero.css" />
  </head>
  <body>
    <section class="hero-section">
      <div class="hero-section-content">
        <h4>Products များကို ချိုသာသော</h4>
        <h5>စျေးနူန်းဖြင့် ဝယ်ယူလိုက်ပါ</h5>
        <p>Coupons နှင့် ဝယ်ယူပြီး 45% အထိ ရယူလိုက်ပါ</p>
        <button class="shop-now-btn">Shop Now</button>
      </div>
      <div class="hero-section-img">
        <img  src="Image/hero-section.png" alt="hero-section.png" >
      </div>
    </section>
  </body>
</html>
