.checkout-form-section {
  margin-top: 3.5rem;
}

.checkout-form-section .title {
  text-align: center;
  letter-spacing: 5px;
}
.checkout-form {
  min-width: 460px;
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  font-size: 1.2rem;
  box-shadow: 3px 4px 5px black;
  background-color: whitesmoke;
  border-radius: 20px;
}
.checkout-form input[type="text"],
.checkout-form input[type="tel"] {
  margin: 0 auto;
  height: 35px;
  line-height: 35px;
}
.checkout-form label {
  width: 100px;
}

.checkout-form textarea {
  height: 80px;
  resize: none;
}
.checkout-form input[type="text"],
.checkout-form input[type="tel"],
.checkout-form textarea {
  width: 360px;
  border-radius: 10px;
  outline: none;
  border: 0.3px solid grey;
  margin: 10px 0;
}
.checkout-form tr td .shipping-address {
  margin: 0;
}
.checkout-form input[type="radio"] {
  margin-right: 20px;
}
.checkout-form .kPayFields {
  transition: all 1s ease;
}
#k-pay-barcode-img {
  width: 360px;
  height: 360px;
  display: block;
}
.checkout-btn-div {
  width: 100%;
}
.checkout-btn {
  display: block;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 20px;
  cursor: pointer;
}
