/* ===========
1. global properties
2. typography
3. hero section content
============= */

/* 1. global properties */
.hero-section-content h4 {
  font-size: 1.3rem;
}
.hero-section-content h5 {
  font-size: 2rem;
}

.hero-section {
  height: 55dvh;
  position: relative;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 70px;
  overflow-y: hidden;
  z-index: 1;
}

/* hero section content */

.hero-section-content {
  max-width: 380px;
  min-width: 300px;
}
 

.hero-section h5 {
  margin: 0;
}
.hero-section p {
  margin-top: 10px;
  color: rgb(209 90 85);
  font-weight: bold;
  font-size: 0.75rem;
}
.shop-now-btn {
  display: inline-block;
  padding: 14px 80px 14px 65px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 15px;
   background-color:black;
  color: orange;
  border-radius: 15px;
}

.shop-now-btn:hover {
  cursor: pointer;
  background: radial-gradient(black,orange);
}
.hero-section-img img {
  width: 640px;
  height: 385px;
}

@media (max-width: 1100px) {
  .hero-section {
    height: unset;
    gap: 0;
  }
}

@media (max-width: 780px) {
  main {
    margin-top: 8 rem;
    padding: 0 1rem;
  }
  main .recent-order {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }
  main #recent-order-table {
    width: 100%;
    margin: 0;
  }
  .hero-section {
    height: unset;
    gap: 0;
  }
  .hero-section-img,
  .hero-section-img img {
    width: 412px;
    height: 250px;
  }
  .hero-section-content h4 {
    font-size: 1rem;
  }
  .hero-section-content h5 {
    font-size: 0.75rem;
  }
}

/* For smaller tablet and mobile phones */
@media screen and (max-width: 480px) {
  .hero-section-content {
    max-width: 240px;
    min-width: 300px;
}
}