/* ===========
1. global properties
2. typography
3. hero section content
============= */

/* 1. global properties */
.hero-section-content h4 {
  font-size: 1.5rem;
}
.hero-section-content h5 {
  font-size: 2rem;
}

.hero-section {
  position: relative;
  display: flex;
  padding: 0 30px;
  margin: 0;
  height: 90dvh;
  background-size: cover;
  background-position: top 25% right 0;
  background-color: #fff;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 40px;
  z-index: 1;
}

/* hero section content */

.hero-section-content {
  max-width: 400px;
  min-width: 300px;
}
.hero-section h4 {
  margin-bottom: 0;
}

.hero-section h5 {
  margin: 0;
}
.hero-section p {
  margin: 0;
  margin-top: 10px;
  color: rgb(209 90 85);
  font-weight: bold;
  font-size: 0.75rem;
}
.shop-now-btn {
  display: inline-block;
  padding: 14px 80px 14px 65px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 15px;
   background-color:black;
  color: orange;
  border-radius: 15px;
}

.shop-now-btn:hover {
  cursor: pointer;
  background: radial-gradient(black,orange);
}
.hero-section-img img {
  width: 640px;
  height: 385px;
}

@media (max-width: 920px) {
  /* styles for screens 799px wide */
  .hero-section {
    height: 110dvh;
  }
}
@media (max-width: 530px) {
  /* styles for screens 799px wide */
  .hero-section {
    height: 70dvh;
    align-content: flex-end;
    align-items: stretch;
    padding: 0;
  }
  .hero-section-img,
  .hero-section-img img {
    width: 412px;
    height: 250px;
  }
  .hero-section-content h4 {
    font-size: 0.75rem;
  }
  .hero-section-content h5 {
    font-size: 0.5rem;
  }
}
