.nav-bar-btn {
  background-color: white;
}
.shop-btn {
  background-color: aqua;
  border-radius: 20px;
}
.shop-btn:hover {
  background-color: white;
}
 
/* Pagination */
#pagination {
  display: block;
  text-align: center;
  margin: 0 auto;
  background-color: #fff;
}

#pagination a {
  display: inline-block;
  margin: 5px;
  color: #fff;
  font-size: 1.2rem;
  line-height: 45px;
}
.previous-page,
.next-page {
  background-color: #0ab1ce;
  width: 80px;
  border-radius: 45px;
  cursor: pointer;
  transition: 0.3s ease;
}

.current-page {
  width: 45px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}
.active {
  background-color: #0ab1ce;
}

.previous-page:hover {
  transform: translateX(-5px);
}
.next-page:hover {
  transform: translateX(5px);
}