.nav-bar-btn {
    background-color: white;
}
.shop-btn{
    background-color: aqua;
    border-radius: 20px;
}
.shop-btn:hover{
    background-color: white;
}

/* .div-test-img{
    background-image: url("../../images/Banner/additioanl-banner3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:400px;
} */