<div class="rating-scale">
  <input type="radio" name="star" id="star1" class="star-rating" value="5" />
  <label for="star1"></label>
  <input type="radio" name="star" id="star2" class="star-rating" value="4" />
  <label for="star2"></label>
  <input type="radio" name="star" id="star3" class="star-rating" value="3" />
  <label for="star3"></label>
  <input type="radio" name="star" id="star4" class="star-rating" value="2" />
  <label for="star4"></label>
  <input type="radio" name="star" id="star5" class="star-rating" value="1" />
  <label for="star5"></label>
</div>
<h4 class="rating-value">5 out of 5</h4>
