<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="slider.css" />
  </head>
  <body>
    <section class="slider-container">
      <div class="carousel">
        <input type="radio" name="slider" id="slider-btn1" checked />
        <input type="radio" name="slider" id="slider-btn2" />
        <input type="radio" name="slider" id="slider-btn3" />
        <input type="radio" name="slider" id="slider-btn4" />
        <input type="radio" name="slider" id="slider-btn5" />

        <div class="slide" data-active>
          <img src="Image/Slider/slider1.jpg" alt="" />
        </div>
        <div class="slide">
          <img src="Image/Slider/slider2.jpg" alt="" />
        </div>
        <div class="slide">
          <img src="Image/Slider/slider3.jpg" alt="" />
        </div>
        <div class="slide">
          <img src="Image/Slider/slider4.jpg" alt="" />
        </div>
        <div class="slide">
          <img src="Image/Slider/slider5.jpg" alt="" />
        </div>
        <div class="slide">
          <img src="Image/Slider/slider1.jpg" alt="" />
        </div>

        <div class="slider-nav">
          <label for="slider-btn1" class="slide-bar-btn"></label>
          <label for="slider-btn2" class="slide-bar-btn"></label>
          <label for="slider-btn3" class="slide-bar-btn"></label>
          <label for="slider-btn4" class="slide-bar-btn"></label>
          <label for="slider-btn5" class="slide-bar-btn"></label>
        </div>
      </div>
    </section>
  </body>
</html>
